{% extends "layout.html" %}
{% block content %}

<div class="card shadow-sm mt-5">
    <div class="card-body">
        <h4 class="mb-3">ورود ادمین</h4>

        <form method="POST">
            <div class="mb-3">
                <label class="form-label">رمز عبور</label>
                <input type="password" name="password" class="form-control">
            </div>

            <button class="btn btn-primary w-100">ورود</button>
        </form>
    </div>
</div>

{% endblock %}